$white: #f8f8f8;
$grey: rgb(181, 181, 181);
$primary: #c74db2;
$secondary: #e8c1ff;
$colorText: #141414;

$urlMonserratItalic: "./../assets/fonts/Montserrat-Italic.ttf";
$urlMontserratSemiBold: "./../assets/fonts/Montserrat-SemiBold.ttf";
