.xp-title {
  margin-bottom: calculateRem(16);
  .name,
  .establishment {
    font-family: "Monserrat-semibold";
    font-weight: 600;
  }
  .name {
    margin-right: calculateRem(24);
  }
  .establishment {
    margin-right: calculateRem(13);
    color: $primary;
  }
  .city {
    font-family: Monserrat-italic;
    font-style: italic;
    color: $greyDark;
  }
}

.xp-description {
  line-height: calculateRem(22);
}
