.text-align-right {
  text-align: right;
}

.xp-title {
  margin-bottom: calculateRem(16);
  .name,
  .establishment {
    font-weight: 600;
  }
  .name {
    margin-right: calculateRem(15); //24
  }
  .establishment {
    color: $primary;
  }
  .city {
    margin-left: calculateRem(10); //13
    font-family: Monserrat-italic;
    font-style: italic;
    color: $greyDark;
  }
}

.xp-description {
  line-height: calculateRem(22);
}
