.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  @include media-breakpoint-up(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(161, 84, 150);
  .title-footer {
    margin-bottom: 25px;
    span {
      font-weight: 600;
      font-size: calculateRem(17);
      color: $white;
      @include titleSubAlignment($white);
      @include media-breakpoint-up(sm) {
        font-size: calculateRem(20);
      }
    }
  }

  .email {
    margin-bottom: 32px;
    a {
      text-decoration: none;
      color: $white;
    }
  }

  .icons a {
    color: $white;
    transition: all ease-in-out 0.35s;
    &:hover {
      color: $darkWhite;
    }
  }
}
