html,
body {
  margin: 0;
  padding: 0;
}

.title {
  margin: calculateRem(46) calculateRem(28);
  text-align: center;
  font-size: calculateRem(32);
  font-family: Monserrat-semibold;

  @media screen and(min-width: 425px) and (max-width: 768px) {
    margin: calculateRem(56) calculateRem(40);
  }
  @media screen and(min-width: 768px) {
    margin: calculateRem(66) calculateRem(58);
  }

  span {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    &::before {
      position: absolute;
      content: "";
      bottom: -8px;
      width: 60%;
      height: 3px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $primary;
    }
  }
}

h3 {
  padding-top: calculateRem(35);
  padding-bottom: calculateRem(28);
  text-align: center;
  font-size: calculateRem(24);
  font-family: Monserrat-extrabold;
  @media screen and(min-width: 425px) and (max-width: 768px) {
    padding-top: calculateRem(45);
    padding-bottom: calculateRem(38);
  }
  @media screen and(min-width: 768px) {
    padding-top: calculateRem(65);
    padding-bottom: calculateRem(48);
  }
}
