html,
body {
  margin: 0;
  padding: 0;
}

.title {
  margin: calculateRem(46) calculateRem(28);
  text-align: center;
  font-size: calculateRem(32);
  font-family: "Monserrat-semibold";
  font-weight: 600;

  @include media-breakpoint-up(sm) {
    margin: calculateRem(56) calculateRem(40);
  }
  @include media-breakpoint-up(md) {
    margin: calculateRem(66) calculateRem(58);
  }
  
  span {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    &::before {
      position: absolute;
      content: "";
      bottom: -8px;
      width: 60%;
      height: 3px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $primary;
    }
  }
}

h3 {
  padding-top: calculateRem(35);
  padding-bottom: calculateRem(28);
  text-align: center;
  font-size: calculateRem(24);
  font-family: "Monserrat-extrabold";
  font-weight: 900;
  @include media-breakpoint-up(sm) {
    padding-top: calculateRem(45);
    padding-bottom: calculateRem(38);
  }
  @include media-breakpoint-up(md) {
    padding-top: calculateRem(65);
    padding-bottom: calculateRem(48);
  }
}

h4 {
  margin-bottom: calculateRem(34);
  text-align: center;
  @include media-breakpoint-up(sm) {
    margin-bottom: calculateRem(44);
  }
  @include media-breakpoint-up(md) {
    margin-bottom: calculateRem(54);
  }
  font-family: "Monserrat-semibold";
  font-weight: 600;
  font-size: calculateRem(20);
}
