html,
body {
  margin: 0;
  padding: 0;
}

.title {
  margin: calculateRem(46) calculateRem(28);
  text-align: center;
  font-size: calculateRem(32);
  font-family: "Monserrat-semibold";
  font-weight: 600;

  @include media-breakpoint-up(sm) {
    margin: calculateRem(56) calculateRem(40);
  }
  @include media-breakpoint-up(md) {
    margin: calculateRem(66) calculateRem(58);
  }

  span {
    @include titleSubAlignment($primary);
  }
}

.title-h3 {
  padding-top: calculateRem(35);
  padding-bottom: calculateRem(28);
  text-align: center;
  font-size: calculateRem(24);
  font-family: "Monserrat-extrabold";
  font-weight: 900;
  @include media-breakpoint-up(sm) {
    padding-top: calculateRem(45);
    padding-bottom: calculateRem(38);
  }
  @include media-breakpoint-up(md) {
    padding-top: calculateRem(65);
    padding-bottom: calculateRem(48);
  }
}

.title-h4 {
  margin-bottom: calculateRem(34);
  text-align: center;
  @include media-breakpoint-up(sm) {
    margin-bottom: calculateRem(44);
  }
  @include media-breakpoint-up(md) {
    margin-bottom: calculateRem(54);
  }
  font-family: "Monserrat-semibold";
  font-weight: 600;
  font-size: calculateRem(20);
}

p {
  margin: 0;
  font-family: "Monserrat-regular";
}

// EXPERIENCES AND DIPLOMAS - QUALIFICATIONS
.separation {
  display: flex;
  justify-content: center;
  align-items: center;
  .line {
    margin: 10px;
    min-width: 40px;
    height: 1px;
    border: 1px solid $primary;
    background-color: $primary;
  }
  .circle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $primary;
  }
}

.padding-content {
  padding-bottom: calculateRem(22);
  @include media-breakpoint-up(sm) {
    padding-bottom: calculateRem(33);
  }
}
.padding-content-end {
  padding-bottom: calculateRem(30);
  @include media-breakpoint-up(sm) {
    padding-bottom: calculateRem(40);
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: calculateRem(58);
  }
}
