@import "./helpers/variables";
@import "./helpers/functions";
@import "./helpers/mixins";

@import "~bootstrap/scss/bootstrap.scss";

@import "./global/common";

@import "./components/navbar";
@import "./components/banner";
@import "./components/skills";
@import "./components/experiences";
@import "./components/portfolio";
@import "./components/footer";

@import "./components/circles";
